############
## Wing  
############
*.wpu

############
## Folders 
############
*/resources/images/*
*WIP*

############
## OS Stuff
############
Thumbs.db
Desktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#############
# # Logs and databases
#############
*.log
*.sql
*.sqlite


#############
## Python
#############

*.py[co]
*.dll
*.exe
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

